.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  width: 54px;
  height: 54px;
  margin: 0 20px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  border-radius: 50px;
  z-index: 5;
  border: 1px solid transparent;
  overflow: hidden;
  color: #fff;
  background-color: #4a6cf7;
}

.avatar:hover {
  color: #fff;
}
